@{
    ViewData["Title"] = "Login";
}
<div>
    <h1>Rock in Senai</h1>
</div>
<form method="POST" action="">

     <div class="campo">
        <label>Nome</label>
        <input type="text" name="Nome" required />
    </div>

    <div class="campo">
        <label>Email</label>
        <input type="text" name="Email" required />
    </div>

    <div class="campo">
        <label>Senha</label>
        <input type="password" name="Senha" required />
    </div>

    <div class="erro">@TempData.Peek("Mensagem")</div>

    <button class="gradient btn" type="submit">Entrar</button>
</form>
